
.react-calendar {
  max-width: 100%;
  background-color: white;
  color: #333;
  /* border-radius: 10px; */
  border: 1px solid #dee2e6;
  /* box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05); */
  padding: 1rem;
  font-family: 'Segoe UI', sans-serif;
  transition: all 0.3s ease-in-out;
}


.react-calendar__tile {
  border: none;
  padding: 12px 0;
  font-size: 1rem;
  transition: background-color 0.3s ease, transform 0.2s ease;
  position: relative;
}

.react-calendar__tile:hover {
  cursor: pointer;
  border-radius: 50%;
  transform: scale(1.05);
}

.react-calendar__tile--active {
  background: #5555d6 !important; 
  color: white !important;
  border-radius: 50% !important;
  font-weight: bold;
  transform: scale(1.1);
}

.react-calendar__tile--now {
  background: #5555d6 !important;
  color: white !important;
  border-radius: 50% !important;
  font-weight: bold;
}


.react-calendar__navigation button {
  color: #0d6efd;
  font-weight: bold;
  background: none;
  border: none;
  padding: 0.5rem 1rem;
  transition: background 0.3s ease;
}

.react-calendar__navigation button:hover {
  background-color: #e9ecef;
  border-radius: 5px;
}
.react-calendar {
  animation: fadeIn 0.4s ease;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
